*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.ba-clearfix:before,
.ba-clearfix:after {
	content: '';
	display: table;
} 
.ba-clearfix:after {
	clear: both;
}
.ba-clearfix {
	clear: both;
	*zoom: 1;
}

.ba-container {
	width: 750px;
	margin: 0 auto;
}


.ba-product-card {
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #000;
	background: url(../images/background.jpg) center center no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.ba-header {
	padding: 25px 0;
}
.ba-logo {
	float: left;
}
.ba-navigation {
	float: right;
	margin-top: -18px;
}
.ba-navigation__list {
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: left;
}

.ba-navigation__item {
	float: left;
}

.ba-navigation__item + .ba-navigation__item {
	margin-left: 50px;
}
.ba-navigation__link {
	color: #FFF;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	padding: 5px 0;
	border-bottom: 1px solid transparent;
	transition: border-color .2s ease-in;
}
.ba-navigation__link--active {
	border-color: #fff;
}
.ba-navigation__link:hover {
	border-color: #fff;
}

.ba-navigation__toggle {
	float: left;
	margin: 6px 0 0 120px;
  width: 22px;
  height: 12px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0;
}

.ba-bar,
.ba-bar:after,
.ba-bar:before {
  width: 22px;
  height: 1px;
}

.ba-bar {
	left: -6px;
	display: block;
  position: relative;
  background: white;
  transition: all 0ms 300ms;
}
.ba-bar.animate {
  background: rgba(255, 255, 255, 0);
}

.ba-bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  background: white;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.ba-bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  background: white;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.ba-bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.ba-bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}






